<footer class="footer">
  <small>
    <%= t ".small1" %> <a href="http://www.railstutorial.org/">
      <%= t ".small2" %></a>
    <%= t ".small3" %><a href="http://www.michaelhartl.com/">
      <%= t ".small4" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".l1"), about_path %></li>
      <li><%= link_to t(".l2"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".l3" %></a></li>
    </ul>
  </nav>
</footer>
